[Desktop Entry]
Encoding=UTF-8
Name=iso2usb
Name[es]=Crear Live USB
Comment=Create Live USB from iso file
Comment[es]=Crea live USB desde fichero iso
Icon=vx-iso2usb
Exec=gksudo -m 'Se requieren privilegios de seguridad para crear un Live USB' /usr/bin/vx-iso2usb
Terminal=false
Type=Application
Categories=Settings;System;
StartupNotify=true
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-after=panel
X-KDE-Autostart-Notify=true
X-KDE-Autostart-enabled=true
X-KDE-Autostart-after=panel
Hidden=false
